# Kihagyni való fájlok és mappák

# Eredmények és ideiglenes fájlok
ScanResults.json
*.json
*.log
*.tmp
Backup_*.reg

# Projekt mappák
/Temp
/TMP
/temp
/Logs
/LOG
/log
/Backup
/Backup_*

# Egyéb
Thumbs.db
*.bak
